@define-color background #1e1e2e;
@define-color foreground #bac2de;
@define-color color0 #1e1e2e;
@define-color color1 #f38ba8;
@define-color color2 #a6e3a1;
@define-color color3 #f9e2af;
@define-color color4 #89b4fa;
@define-color color5 #c49bf6;
@define-color color6 #94e2d5;
@define-color color7 #cdd6f4;
@define-color color8 #45475a;
@define-color color9 #f38ba8;
@define-color color10 #a6e3a1;
@define-color color11 #f9e2af;
@define-color color12 #89b4fa;
@define-color color13 #cba6f7;
@define-color color14 #94e2d5;
@define-color color15 #bac2de;