nvim/plugin/packer_compiled.lua
nvim/lazy-lock.json
lvim/lazy-lock.json
.git
.DS_Store
LazyVim/lazy-lock.json
.config/nvim/lazy-lock.json
.config/nvim/lazy-lock.json
.config/fish/completions/asdf.fish
.config/lazyvim/lazy-lock.json
.config/lazyvim/lazy-lock.json
.config/lazyvim/lazyvim.json
.config/btop/btop.log
.config/tmux/plugins
.config/tmux/tmuxx
