[core]
    pager = "git-split-diffs --color | less -RFX"
    excludesfile = ~/.gitignore
    editor = nvim
[color]
    ui = auto
[alias]
    l = log --pretty=custom --reverse
    lg = log --graph --pretty=custom -20
    compare = diff --cached # view the changes you staged for the next commit relative to HEAD
    unstage = reset --soft HEAD^
    amend = commit --amend -m
    cpick = cherry-pick
    cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[pull]
    rebase = true
[init]
    defaultBranch = main
[gpg]
    program = /usr/local/bin/gpg # linux: /usr/bin/gpg
[merge]
    conflictstyle = diff3
    tool = vimdiff
[diff]
    colorMoved = default 
[push]
    autoSetupRemote = true
    followTags = true
[pretty]
    custom = "%C(yellow)%h %C(green) %s %C(magenta)%d %n%C(cyan) %an  %C(cyan)%ar%n"
    #                     │        │            │        │               └─ date relativ
    #                     │        │            │        └─ author name
    #                     │        │            └─ decorations(branch, heads or tags)
    #                     │        └─ message
    #                     └─ hash (abbreviated)
[split-diffs]
    theme-name = github-dark-dim
[user]
    #configered in `~/.gitconfig.local`
[include]
    # Load local configs.
    # https://git-scm.com/docs/git-config#_includes
    #
    # [!] The following needs to remain at the end of this file in
    #     order to allow any of the above configs to be overwritten
    #     by the local ones

    path = ~/.gitconfig.local
[mergetool "vimdiff"]
	path = nvim
