"" Source your .vimrc
"source ~/.vimrc

set NERDTree
set ReplaceWithRegister
set argtextobj
set commentary
set highlightedyank
set ideajoin
set ideastatusicon=gray
set surround
set textobj-entire

set autoindent
set clipboard+=ideaput
set clipboard+=unnamed
set ignorecase
set incsearch
set nohlsearch
set number relativenumber
set scrolloff=8
set showcmd
set showmode
set smartindent
set smarttab


"disable key movement in normal, visual, select, and operator-pending modes
noremap <Up> <Nop>
noremap <Down> <Nop>
noremap <Left> <Nop>
noremap <Right> <Nop>

" use ;; for escape
inoremap ;; <Esc>

" use space as leader
map <Space> <leader>

" \n to focus NERDTree
"nnoremap <leader>n :NERDTreeFocus<CR>

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
" map <leader>d <Action>(AndroidConnectDebuggerAction) not workinl g
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>r <Action>(Refactorings.QuickListPopupAction)
map <leader>f <Action>(GotoFile)
map <leader>g <Action>(FindInPath)
map <leader>s <Action>(Switcher)
map <leader>qa <Action>(CloseAllEditorsButActive)
map <leader>u <Action>(FindUsages)
map <leader>h <Action>(PreviousTab)
map <leader>l <Action>(NextTab)
map <leader>n <Action>(GotoNextError)
map <leader>e <Action>(Generate)
"map \a <Action>()
" Find more examples here: https://jb.gg/share-ideavimrc
