
# NOTE this config is using hyperkey as alt-ctrl-cmd without shift
# for non programmable keyboads use https://hyperkey.app/ to e.g. change capslock to hyperkey
# for navigation vim keys hjkl are used instead of arrow keys

after-login-command = []
# after-startup-command = []
start-at-login = true
after-startup-command = [
  'exec-and-forget borders active_color=0xff2271b3 inactive_color=0xff494d64 width=5.0'
]

enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

accordion-padding = 30

default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'

key-mapping.preset = 'qwerty'

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
on-focus-changed = ['move-mouse window-lazy-center']

[gaps]
inner.horizontal = 8
inner.vertical = 8
outer.left = 8
outer.bottom = 8
outer.top = 8
outer.right = 8


# BINDING MODE---------------------------------------------------------------------------------------------------------
[mode.main.binding]
# All possible modifiers: cmd, alt, ctrl, shift
# alt-enter = 'exec-and-forget open -n /Applications/Ghostty.app'

# alt-slash = 'layout tiles horizontal vertical'
# alt-comma = 'layout accordion horizontal vertical'

alt-f = 'fullscreen'             # zoom toggle
alt-t = 'layout floating tiling' # floating toggle
alt-g = 'layout tiles horizontal vertical' # toggle split

# FOCUS
alt-tab = 'workspace-back-and-forth'

alt-left = 'focus left --boundaries all-monitors-outer-frame'
alt-down = 'focus down --boundaries all-monitors-outer-frame'
alt-up = 'focus up --boundaries all-monitors-outer-frame'
alt-right = 'focus right --boundaries all-monitors-outer-frame'

alt-1 = 'workspace 1'
alt-2 = 'workspace 2'
alt-3 = 'workspace 3'
alt-4 = 'workspace 4'
alt-5 = 'workspace 5'
alt-6 = 'workspace 6'

# MOVE
alt-shift-1 = ['move-node-to-workspace 1', 'workspace 1']
alt-shift-2 = ['move-node-to-workspace 2', 'workspace 2']
alt-shift-3 = ['move-node-to-workspace 3', 'workspace 3']
alt-shift-4 = ['move-node-to-workspace 4', 'workspace 4']
alt-shift-5 = ['move-node-to-workspace 5', 'workspace 5']
alt-shift-6 = ['move-node-to-workspace 6', 'workspace 6']

alt-shift-left = 'move left'
alt-shift-down = 'move down'
alt-shift-up = 'move up'
alt-shift-right = 'move right'

alt-shift-tab = 'move-node-to-monitor --wrap-around next'

alt-minus = 'resize width -50'
alt-equal = 'resize width +50'
alt-shift-minus = 'resize height +50'
alt-shift-equal = 'resize height -50'

# SETTINGS MODE---------------------------------------------------------------------------------------------------------
cmd-ctrl-alt-semicolon = 'mode settings'

[mode.settings.binding]
esc = ['reload-config', 'mode main']
r = ['flatten-workspace-tree', 'mode main']                # reset layout
backspace = ['close-all-windows-but-current', 'mode main']

# join
left = ['join-with left', 'mode main']
down = ['join-with down', 'mode main']
up = ['join-with up', 'mode main']
right = ['join-with right', 'mode main']

# resize
h = 'resize width -50'
j = 'resize height +50'
k = 'resize height -50'
l = 'resize width +50'

# FLOATING APPS -------------------------------------------------------------------------------------------------------
[[on-window-detected]]
if.app-id = 'com.apple.finder'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'org.keepassxc.keepassxc'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.microsoft.to-do-mac'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.cisco.secureclient.gui'
run = 'layout floating'


[[on-window-detected]]
if.app-id = 'net.freemacsoft.AppCleaner'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.apple.Music'
run = 'layout floating'


# ---------------------------------------------------------------------------------------------------------------------
# Raycast extension https://www.raycast.com/limonkufu/aerospace
